.game-stats {
   display: grid;
   grid-template-columns: repeat(3, 2fr 1fr);
   background-color: var(--color-grey-light-75);
   padding: var(--padding);
   padding-top: calc(var(--padding) / 2);
   padding-bottom: calc(var(--padding) / 2);
}
.game-stats > .game-stats-item {
   padding: var(--padding-sm);
   padding-left: 0;
}
.game-stats-item span.game-stats-item-title {
   text-decoration: underline;
}
.game-stats-item span.game-stats-item-stat {
   color: var(--color-white);
}

.game-stats > .game-stats-item.blue {
   background-color: var(--color-blue);
}
.game-stats > .game-stats-item.red {
   background-color: var(--color-red);
}
