/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');

.round-counter {
   font-family: 'Bowlby One SC', cursive;
   text-align: center;
}

.round-counter.red {
   background-color: var(--color-red);
}

.round-counter.blue {
   background-color: var(--color-blue);
}

.round-stat {
   font-size: 2.5em;
   font-style: italic;
   text-transform: uppercase;
}
