{
   "parser": "babel-eslint",
   "extends": ["eslint:recommended", "plugin:react/recommended"],
   "env": {
      "browser": true,
      "node": true
   },
   "plugins": ["react"],
   "parserOptions": {
      "ecmaFeatures": {
         "jsx": true
      }
   },
   "settings": {
      "react": {
         "version": "detect"
      }
   },
   "rules": {
      "no-unused-vars": "warn",
      "no-undef": "warn",
      "react/prop-types": "warn"
   }
}
