.game-card {
   text-align: center;
   color: var(--color-grey-light-75);
   background-color: var(--color-grey-dark-50);
   cursor: pointer;
   min-width: 1.5em;
   line-height: 2em;
   font-size: 4.5em;
   border: var(--border);
   border-color: var(--color-grey-light);
}
.game-card:hover {
   color: var(--color-white);
   border-color: var(--color-white);
}
.game-card-value {
   user-select: none;
}
.game-card.front {
   background-color: var(--color-grey-light-25);
   color: var(--color-white);
}
.game-card.back {
   background-color: var(--color-grey-dark-75);
}
