.game-stats {
   display: grid;
   grid-template-columns: auto auto auto auto auto auto auto auto;
   grid-gap: calc(var(--padding) / 2);
   justify-content: space-between;
   padding: var(--padding);
   padding-top: calc(var(--padding) / 2);
   padding-bottom: calc(var(--padding) / 2);
   background-color: var(--color-grey-dark-50);
}
.game-stats > .game-stats-item {
}
.game-stats span.game-stats-item-title {
   text-decoration: underline;
}

.game-stats span.game-stats-item-stat {
   color: var(--color-grey-light);
}
