.overlay {
   display: grid;
   grid-template-columns: auto auto auto auto;
   background-color: var(--color-grey-dark-50);
}
.overlay-item {
   padding: var(--margin);
   padding-top: calc(var(--margin) / 2);
   padding-bottom: calc(var(--margin) / 2);
}
.overlay-item-title {
   margin-right: var(--margin);
}

.overlay-item-stat {
}
