.overlay {
   display: grid;
   grid-template-columns: auto auto auto auto;
   background-color: var(--color-grey-dark-50);
   color: white;
}
.overlay-item {
   padding: var(--margin);
}
.overlay-item-title {
   margin-right: var(--margin);
}

.overlay-item-stat {
}
