.game-board-wrapper {
   overflow: hidden;
}
.game-board-wrapper > .game-board {
   display: grid;
   grid-template-columns: auto auto auto auto auto;
   grid-gap: var(--padding) var(--padding);
   padding: var(--padding);
   background-color: var(--color-grey-dark-75);
}

.game-board .game-board-item {
   border: var(--border-sm);
   background-color: var(--color-grey-dark-25);
}
