.game-wrapper {
    width: 100%;
    height: 100%;
}
.game-board {
   display: grid;
   grid-template-columns: auto auto auto auto auto;
   grid-gap: 15px 50px;
   padding: 15px;
   border: 2px solid black;
   border-radius: var(--main-border-radius);
   height: 100%;
}

.game-board-item {
   border: 1px solid black;
   border-radius: var(--main-border-radius);
   background-color: darkgrey;
}
