.game-navbar {
   width: 100%;
   background-color: var(--color-grey-dark);
   overflow: hidden;
}

ul.game-navbar-nav {
   height: 100%;
   list-style-type: none;
   margin: 0;
   padding: 0;
}

ul > li.game-navbar-item {
   height: 100%;
   float: left;
}

ul > li a.game-nav-link {
   padding: var(--padding);
   height: 100%;
   text-decoration: none;
   text-align: center;
   display: block;
   color: var(--link-color);
}

ul > li a.game-nav-link:hover,
ul > li a.game-nav-link.active {
   background-color: var(--link-color);
   color: var(--color-white);
}

ul > li.dropdown .dropdown-menu {
   position: absolute;
   vertical-align: bottom;
   background-color: var(--color-grey-dark);
   display: none;
}

ul > li.dropdown .dropdown-menu.visible {
   display: block;
}

ul > li.dropdown .dropdown-menu a.dropdown-item {
   display: block;
   text-decoration: none;
   padding: var(--padding-sm);
   padding-left: var(--padding-lg);
   padding-right: var(--padding-lg);
   color: var(--color-white);
}

ul > li.dropdown .dropdown-menu a.dropdown-item:hover {
   background-color: var(--color-grey-light-75);
   color: var(--color-white);
}
